.features{
    // background-color: $color-grey-light-2;
    grid-column: center-start/center-end;

    margin: 15rem 0;

    display: grid;
    // grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    // 最小幅を定めておいて、それを下回れば自動的に折り返す（auto-fitする）

    grid-gap: 6rem;
    // grid-template-rows: auto auto;
    // ↑がなくても2行になる（要素が6個なので）
    align-items: start;
}

.feature{

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    
    
    &__icon{
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        // grid-row: 1/-1;
        // ↑だとダメ。explicitなところだけしか参照しない。
        // （今回の場合、rowを指定していないので、1行だと認識している）
        grid-row: 1/ span 2;
        transform: translateY(-1rem);
    }

    &__text{
        font-size: 1.7rem;
    }

}